body::before {
    display: block;
    content: '';
    height: 60px;
}
@media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.navbar {
    animation: slideInFromTop 1s ease-in;
  }

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
#showcase {
    animation: slideInFromBottom 1s ease-in;
  }

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}